{% trans_default_domain 'FOSUserBundle' %}

{% extends 'email_layout.html.twig' %}

{% block email_content %}
    {% import 'email_layout.html.twig' as macro %}
    {{ macro.p('Hello ' ~ user.username ~ ',') }}
    {{ macro.p('To reset your password - please click the button below.') }}
    {{ macro.button(confirmationUrl, 'Reset Password') }}
    {{ macro.p('Regards, the ' ~ app_name ~ ' Team.') }}
    <p style="font-family: sans-serif; font-size: 12px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
        If you’re having trouble clicking the "Reset Password" button, copy and paste the URL below into your web browser: <a href="{{ confirmationUrl }}" target="_blank">{{ confirmationUrl }}</a>
    </p>
{% endblock %}